.log {
    font-size: 12px;
    margin-top: 5rem;
}

.gameStateHeading {
    min-height: 2.5rem;
    font-size: 1.7rem;
    font-weight: bold;
}

.currentBid {
    min-height: 2rem;
}

.gameTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.gameTable div {
    /* z-index: 1; */
    margin: 3px 6px;
}

.gameTable > .gameTableCenter {
    /* z-index: 0; */
    background: rgb(52,143,106);
    background: radial-gradient(circle, rgba(52,143,106,1) 0%, rgba(30,116,81,1) 35%, rgba(19,80,55,1) 100%);
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.4), inset 0px 0px 15px 3px rgba(255,255,255,0.2);
    border-radius: 30%;
    border: 2px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0 0;
    position: relative;
    min-width: 12rem;
    min-height: 14rem;
    
}

.activePlayer {
    background-color: rgb(255, 253, 229);
    border-radius: 30%;
}

.innerTableMessage {
    font-size: smaller;
    padding: 2rem 0.2rem;
}

.gameTable4Players {
    /* grid-template-rows: 1fr 2fr 2fr 2fr 1fr; */
}

/* 4 player layout */
.gameTable4Players > div:nth-child(1) {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: center;
}
.gameTable4Players > div:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: end;
}
.gameTable4Players > div:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}
.gameTable4Players > div:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: start;
}

/* center of table */
.gameTable4Players .gameTableCenter {
    grid-row: 2;
    grid-column: 2;
}


/* 6 player layout */
.gameTable6Players > div:nth-child(1) {
    grid-column: 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
}
.gameTable6Players > div:nth-child(2) {
    grid-column: 1;
    grid-row: 3;
    align-self: center;
    justify-self: end;
}
.gameTable6Players > div:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: end;
}
.gameTable6Players > div:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}
.gameTable6Players > div:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: start;
}
.gameTable6Players > div:nth-child(6) {
    grid-column: 3;
    grid-row: 3;
    align-self: center;
    justify-self: start;
}

.gameTable6Players > .gameTableCenter {
    grid-row: 2 / span 2;
    grid-column: 2;
    min-height: 20rem;
}

/* gameTablePlayer */
.gameTablePlayer {
    text-align: center;
}

.gameTablePlayerName {
    font-weight: bold;
}

/* shuffle button */
button.shuffleButton {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 1.5rem 0;
}

/* bids */
.bidSelectorContainer {
    display: flex;
    flex-direction: column;
}

.bidSelectorContainer button {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-right: auto;
    margin-left: 0;
    min-height: 3rem;
}

.bidSelectorButtonContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-items: center;
}
.bidSelectorButtonContainer > button {
    width: 100%;
}

.bidSelectorButtonContainer span {
    margin-left: 0.3rem;
}


/* how cards are rendered */
.card {
    position: relative;
    flex-shrink: 1;
    max-width: 4.5rem;
    vertical-align: middle;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.33);
}

.card .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.card img {
    max-width: 100%;
    margin: auto 0;
    vertical-align: middle;
}

.cardH, .cardD, .cardJoker {
    color: rgb(146, 9, 9);
}

.cardS, .cardC {
    color: rgb(15, 14, 14);
}

.cardText, .cardTextDuplicate {
    position: absolute;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.cardText {
    top: 0.2rem;
    left: 0.2rem;
}

.cardTextDuplicate {
    bottom: 0.2rem;
    right: 0.2rem;
    /* transform: rotate(180deg) */
}


.cardContainer {
    width: 100%;
    display: grid;
    /* grid-auto-flow: column; */
    gap: 0.4rem;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(10, 1fr);
    margin: 0.5rem 0;
    
}

@media screen and (max-width: 800px) {
    .cardContainer {
        grid-template-columns: repeat(5, 1fr);
        gap: 0.2rem;
    }
}

@media screen and (max-width: 370px) {
    .cardContainer {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.2rem;
    }
}

.gameTableCenter .card {
    max-width: 3.9rem;
    position: relative;
}

.gameTableCenter .cardText, .gameTableCenter .cardTextDuplicate {
    font-size: 1.4rem;
    line-height: 1.2rem;
}

/* 4 players card positioning */
.gameTable4Players .card.south {
    position: absolute;
    top: 45%;
    margin-left: 0.6rem;
}

.gameTable4Players .card.west {
    position: absolute;
    right: 50%;
    margin-top: 0.6rem;
}

.gameTable4Players .card.north {
    position: absolute;
    bottom: 45%;
    margin-right: 0.6rem;
}

.gameTable4Players .card.east {
    position: absolute;
    left: 56%;
    margin-bottom: 0.6rem;
}

/* 6 players card positioning */

.gameTable6Players .card.south {
    position: absolute;
    top: 60%;
    margin-left: 0.6rem;
}

.gameTable6Players .card.southwest {
    position: absolute;
    top: 48%;
    right: 54%;
}

.gameTable6Players .card.northwest {
    position: absolute;
    bottom: 48%;
    right: 58%;
}

.gameTable6Players .card.north {
    position: absolute;
    bottom: 60%;
    margin-right: 0.6rem;
}


.gameTable6Players .card.northeast {
    position: absolute;
    left: 54%;
    bottom: 48%;
}

.gameTable6Players .card.southeast {
    position: absolute;
    left: 58%;
    top: 48%;
}


.cardZ0 {
    z-index: 1;
}
.cardZ1 {
    z-index: 2;
}
.cardZ2 {
    z-index: 3;
}
.cardZ3 {
    z-index: 4;
}
.cardZ4 {
    z-index: 5;
}
.cardZ5 {
    z-index: 6;
}


/* table bets */
.tableBet {
    padding: 0.3rem 0.3rem;
    background-color: rgb(233, 228, 228);
    border: 1px solid black;
    border-radius: 15%;
    vertical-align: middle;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.33);
}

/* 4 players bet positioning */
.gameTable4Players .tableBet.south {
    position: absolute;
    bottom: 5%;
}

.gameTable4Players .tableBet.west {
    position: absolute;
    left: 5%;
    margin-bottom: 2rem;
}

.gameTable4Players .tableBet.north {
    position: absolute;
    top: 5%;
}

.gameTable4Players .tableBet.east {
    position: absolute;
    right: 5%;
    margin-top: 2rem;
}

/* 6 players tableBet positioning */

.gameTable6Players .tableBet.south {
    position: absolute;
    bottom: 5%;
}

.gameTable6Players .tableBet.southwest {
    position: absolute;
    bottom: 25%;
    left: 5%;
}

.gameTable6Players .tableBet.northwest {
    position: absolute;
    top: 25%;
    left: 5%;
}

.gameTable6Players .tableBet.north {
    position: absolute;
    top: 5%;
}


.gameTable6Players .tableBet.northeast {
    position: absolute;
    top: 25%;
    right: 5%;
}

.gameTable6Players .tableBet.southeast {
    position: absolute;
    right: 5%;
    bottom: 25%;
}



/* action preview */

.actionPreview {
    min-height: 10.75rem;
}

.actionPreviewDiscarding, .actionPreviewError {
    background-color: rgb(223, 212, 212);
}

.actionPreviewPlaying {
    background-color: rgb(220, 236, 201);
}
.actionPreviewInstructions > * {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
}

.actionPreviewCardContainer {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

.actionPanelExtraMessage {
    padding: 0 1.5rem; 
    margin-top: auto;
    margin-bottom: auto;
}

.jokerSuitSelector {
    margin-left: 1rem;
}

/* scoreboard */
.scoreboardHeading {
    margin-top: 3rem;
}

.historyOfTricks H3 {
    font-size: 24px;
    margin-top: 1.5rem;
}

.historyIcon {
    min-width: 2.2rem;
    display: inline-block;
}
