body {
    background-color: #E0DFD9;
}

div.TopLevelContainer {
    background-color: white;
}
  
div.MainContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
    padding: 1em 2em;
    background-color: white;
}
  
div.TopLevelFooter {
    font-size: 0.8rem;
    margin: 1rem auto;
    text-align: center;
    max-width: 70rem;
}

@media screen and (max-width: 600px) {
    div.MainContainer {
        padding: 1em 0.4em;
    }
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 1.5rem;
    }
}

.fadein {
    animation: showFade ease 0.5s;
}
@keyframes showFade {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}
